<br><br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<%= form_with model: [@company, @employee], local: true do |f| %>
	<%= f.hidden_field :company_id, value: @company.id %>
	<%= f.hidden_field :area_id, value: 1 %>

	<%= f.label :first_name %>
	<%= f.text_field :first_name %>

	<%= f.label :last_name %>
	<%= f.text_field :last_name %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :area %>
	<%= f.select :area_id, Area.pluck(:name, :id) %>

	<%= f.submit "Enviar" %>

<% end %><br><br>


<h5>Empleados de la Compañía</h5><br>

<table class="table">
	<thead>
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Email</th>
		<th>Área</th>
	</thead>
<% @company.employees.each do |employee| %>
	<tr>
		<td><%= employee.first_name %></td>
		<td><%= employee.last_name %></td>
		<td><%= employee.email %></td>
		<td><%= employee.area.name %></td>
		<td><%= link_to "Eliminar empleado", company_employee_path(@company,employee), method: :delete %></td>
	</tr>
<% end %>
</table><br>



<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
